
.home-section{
    padding: 0;
    margin: 2rem 0;
}

.home-section .content-home{
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    background: rgba(0, 0, 0, 0.4);;
}

.home-section .content-home h1{
    font-size: 70px;
    font-weight: 700;
}

.home-section .content-home p {
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 768px){
    .home-section .content-home h1{
        font-size: 30px;
    }
    .home-section .content-home p {
        font-size: 15px;
    }
}